 .homePage { 
    position: relative;
    width: 100%;
    height: 450vh;
    background-color: #555;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.first_part {
    width: 100%;
    height: 100vh;
    position: relative;
}

.first_header_back {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    object-fit: cover;
}

.first__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.first_img_man {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    object-fit: cover;
    overflow-x: hover;
    overflow-y: hover;
}

.first_btn_back {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

@media screen and (max-width: 400px) {
    .homePage {
        position: relative;
        width: 100%;
        height: 400vh; 
    } 
}
.second_part {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
}

.second_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.second_main {
    width: 60%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.second_title {
    width: 100%;
    height: 25%;
    position: absolute;
    align-self: flex-start;
    text-align: center;
    color: white;
    font-size: 15rem;
    border-bottom: 0.5px dashed white;
    text-shadow: -10px 10px 10px #000;

}

.second-text {
    height: 50%;
    width: 100%;
    color: white;
    text-align: bottom;
    align-self: flex-end;
    font-size: 1.5rem;
}

.text-anim {
    animation: slideUp 2s  backwards;
}

@keyframes slideUp {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%)
    }
}

.third__part {
    width: 100%;
    height: 150vh;
    position: relative;
    background-color: purple;
}

.third__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: purple;
}

.third__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.first_content {
    width: 50%;
    flex-direction: row;
    align-self: flex-end;
}

.second_content {
    margin-top: 20px;
    align-self: flex-start;
    width: 50%;
    flex-direction: row;
}

.third_content {
    width: 50%;
    align-self: flex-end;
    flex-direction: row;
}

.third-text {
    color: white;
    font-size: 2rem;
    font-family: Roboto;
}
.third-text-title {
    color: white;
    font-size: 4rem;
    text-align: center;
    text-shadow: -5px 1px 1px black;
}

.anim-first-text {
    animation: firstText 2s backwards;
}

@keyframes firstText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.anim-second-text {
    animation: secondText 2s backwards;
}

@keyframes secondText {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.anim-third-text {
    animation: thirdText 2s backwards;
}

@keyframes thirdText {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
.fourth__part {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #222222;
    display: flex;
}

.fourth__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    background-color: #222222;
}

.fourth__title {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-size: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-shadow: -11px 0px 0px rgba(0, 0, 0, 1);
}

 
.pr {
    margin-top: 10%;
} 
.yellow {
    margin-top: 10%;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.fourth_button {
    position: absolute;
    width: 25%;
    height: 150px;
    color: white;
    background-color: purple;
    border-radius: 25px;
    font-size: 3.5rem;
    font-family: Roboto;
    margin-bottom: 150px;
    align-self: flex-end;
    border: 1px solid black;
    -webkit-box-shadow: -7px 9px 4px 5px purple; 
    box-shadow: -7px 9px 4px 5px purple;
}

.fourth_button:hover {
    background-color: red;
    transform:translate(5%, -5%);
    -webkit-box-shadow: -10px 12px 4px 5px purple; 
    box-shadow: -10px 12px 4px 5px purple;
}

.fourth_button:active {
    background-color: purple;
    transform: translate(0%, 0%);
}


.pr:hover {
    color: purple;
}

.yellow:hover {
    color: yellow;
}

@media screen and (max-width: 1600px) {
    .third-text-title {
        font-size: 3rem;
    }
    .third-text {
        font-size: 1.5rem;
    }
    .fourth__title {
        font-size: 8rem;
    }
}
@media screen and (max-width: 1400px) {
    .third-text-title {
        font-size: 3rem;
    }
    .third-text {
        font-size: 1.5rem;
    }

    .fourth__title {
        font-size: 10rem;
    }
}

@media screen and (max-width: 1000px) {
    .third-text-title {
        font-size: 2rem;
    }
    .third-text {
        font-size: 1.5rem;
    }

    .fourth-title {
        font-size: 8rem;
    }
}

@media screen and (max-width: 400px) {
    .second_title {
        width: 100%;
        position: absolute;
        align-self: flex-start;
        text-align: center;
        color: white;
        font-size: 5rem;
        border-bottom: 0.5px dashed white;
        text-shadow: -10px 10px 10px #000;
    }
    .second-text {
        height: 70%;
        width: 100%;
        color: white;
        text-align: bottom;
        flex-wrap: wrap;
        align-self: flex-end;
        font-size: 1rem;
    }
    
    .text-anim {
        animation: slideUp 2s  backwards;
    }
    
    @keyframes slideUp {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .first_content {
        width: 100%;
        flex-direction: row;
        align-self: center;
    }
    
    .second_content {
        margin-top: 50px;
        align-self: center;
        width: 100%;
        flex-direction: row;
    }
    
    .third_content {
        margin-top: 50px;
        width: 100%;
        align-self: center;
        flex-direction: row;
    }
    

    .third-text {
        color: white;
        font-size: 1rem;
        font-family: Roboto;
    }
    .third-text-title {
        color: white;
        font-size: 2rem;
        text-align: center;
        text-shadow: -5px 1px 1px black;
    }

    .anim-first-text {
        animation: firstText 2s backwards;
    }

    @keyframes firstText {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .anim-second-text {
        animation: secondText 2s backwards;
    }

    @keyframes secondText {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .anim-third-text {
        animation: thirdText 2s backwards;
    }

    @keyframes thirdText {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .fourth__part {
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: #222222;
        display: flex;
    }
    .fourth__title {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-shadow: -11px 0px 0px rgba(0, 0, 0, 1);
    }
    .fourth_button {
        position: absolute;
        width: 50%;
        height: 150px;
        color: white;
        background-color: purple;
        border-radius: 25px;
        font-size: 2rem;
        font-family: Roboto;
        margin-bottom: 150px;
        align-self: flex-end;
        border: 1px solid black;
        -webkit-box-shadow: -7px 9px 4px 5px rgb(138, 115, 138); 
        box-shadow: -7px 9px 4px 5px purple;
    }

}